@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Top 12 Newest Public Images From All Users</h1>

@if (Model.Files.Count > 0)
{
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Preview</th>
                <th>Gallery Name</th>
                <th>Image Name</th>
                <th>Type</th>
                <th>Uploader</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var f in Model.Files)
            {

                <tr>
                    @if (f.ThumbnailId != null)
                    {

                        <td><img src="@Url.Page("/Index","Thumbnail",new {filename=f.ThumbnailId })" /></td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@f.Gallery.GalleryName</td>
                    <td>@f.OriginalName</td>
                    <td>@f.ContentType</td>
                    <td>@f.Uploader.UserName</td>
                    <td>@f.UploadedAt</td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-page-handler="download" asp-route-filename="@f.Id">Download</a>
                        @if (f.ThumbnailId != null)
                        {
                            <a class="btn btn-sm btn-secondary" asp-page-handler="thumbnail" asp-route-filename="@f.ThumbnailId">Thumbnail</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no files uploaded yet.</p>
}

<h1>List of All Public Galleries from All Users</h1>


@if (Model.Galleries.Count > 0)
{
    @foreach (var g in Model.Galleries)
    {
        <h2><strong>@g.GalleryName</strong></h2>
        <h2>Owner: @g.User.UserName</h2>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Preview</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Uploader</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (g.Images.Count > 0)
                {


                    @foreach (var i in g.Images)
                    {
                        <tr>
                            @if (i.ThumbnailId != null)
                            {

                                <td><img src="@Url.Page("/Privacy","Thumbnail",new {filename=i.ThumbnailId })" /></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@i.OriginalName</td>
                            <td>@i.ContentType</td>
                            <td>@i.Uploader.UserName</td>
                            <td>@i.UploadedAt</td>
                            @if (i.IsPublic)
                            {
                                <td>Public</td>
                            }
                            else
                            {
                                <td>Private</td>
                            }

                            <td>

                                <a class="btn btn-sm btn-primary" asp-page-handler="download" asp-route-filename="@i.Id">Download</a>

                                @if (i.ThumbnailId != null)
                                {
                                    <a class="btn btn-sm btn-secondary" asp-page-handler="thumbnail" asp-route-filename="@i.ThumbnailId">Thumbnail</a>
                                }

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <p>There are no files uploaded yet.</p>
                }

            </tbody>
        </table>


    }

}
else
{
    <p>There are no public galleries created yet.</p>
}