@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
@if (Model.SignedIn)
{
    @if (Model.Galleries.Count > 0)
    {
        @foreach (var g in Model.Galleries)
        {
            <h2>@g.GalleryName</h2>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Preview</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Uploader</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (g.Images.Count > 0)
                    {


                        @foreach (var i in g.Images)
                        {


                            <tr>
                                @if (i.ThumbnailId != null)
                                {

                                    <td><img src="@Url.Page("/Privacy","Thumbnail",new {filename=i.ThumbnailId })" /></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@i.OriginalName</td>
                                <td>@i.ContentType</td>
                                <td>@i.Uploader.UserName</td>
                                <td>@i.UploadedAt</td>
                                @if (i.IsPublic)
                                {
                                    <td>Public</td>
                                }
                                else
                                {
                                    <td>Private</td>
                                }

                                <td>
                                    @if (i.IsPublic)
                                    {
                                        <a class="btn btn-sm btn-warning" asp-page-handler="Visibility" asp-route-filename="@i.Id">Make Private</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-sm btn-danger" asp-page-handler="Visibility" asp-route-filename="@i.Id">Make Public</a>
                                    }
                                    <a class="btn btn-sm btn-primary" asp-page-handler="download" asp-route-filename="@i.Id">Download</a>

                                    @if (i.ThumbnailId != null)
                                    {
                                        <a class="btn btn-sm btn-secondary" asp-page-handler="thumbnail" asp-route-filename="@i.ThumbnailId">Thumbnail</a>
                                    }
                                    <a class="btn btn-sm btn-danger" asp-page-handler="delete" asp-route-filename="@i.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <p>There are no files uploaded yet.</p>
                    }

                </tbody>
            </table>
            <div style="margin-bottom: 100px;">
                <a class="btn btn-sm btn-primary" asp-page="./Upload" asp-page-handler="Gallery" asp-route-id="@g.GalleryId">Upload to this gallery</a>
                @if (g.IsPublic)
                {
                    <a class="btn btn-sm btn-warning" asp-page="./Privacy" asp-page-handler="GalleryVisibility" asp-route-galleryId="@g.GalleryId">Make this gallery private</a>
                }
                else
                {
                    <a class="btn btn-sm btn-danger" asp-page="./Privacy" asp-page-handler="GalleryVisibility" asp-route-galleryId="@g.GalleryId">Make this gallery public</a>
                }
                <a class="btn btn-sm btn-danger" asp-page="./Privacy" asp-page-handler="DeleteGallery" asp-route-galleryId="@g.GalleryId">Delete this gallery</a>
            </div>

        }

    }
    else
    {
        <p>There are no files uploaded yet.</p>
    }

    <h3>Create new gallery</h3>
    <form method="post">
        <div>
            <label for="GalleryTitle">Gallery Title:</label>
            <input type="text" name="GalleryName" value="" asp-for="Gallery.GalleryName" />
        </div>
        <div>
            <label for="BckColor">Background Color:</label>
            <input type="color" name="GalleryBackgroundColor" value="#ff0000" asp-for="Gallery.GalleryBackgroundColor">
        </div>
        <div>
            <input type="submit" value="Submit" class="submit" asp-page-handler="NewGallery" />
        </div>
    </form>
}
else
{
    <p></p>
}

